
 /* hotcake 아이콘 스타일 */
    .hotcake-icon {
        width: 30px;
        margin-top: -333px;
        position: absolute;
        right: 160px;
        z-index: 1;
    }

  /* 프로필 텍스트 스타일 */
.user-text {
    font-size: 24px;
    width: 70px;
    margin-top: -333px;
    position: absolute;
    right: 80px; 
    z-index: 1;
  }
  

  .main-content {
    position: absolute;
  }

.profile-image {
    width: 100px;
    margin-top: 30px;
    left: -90px; 
    position: absolute;
    z-index: 1;
}

  .name-rectangle-box {
    font-size: 25px;
    width: 200px; 
    height: 30px; 
    background-color: white; 
    color: brown; 
    text-align: center;
    line-height: 30px; 
    border-radius: 10px; 
    position: absolute;
    margin-top: 20px;
    right: -60px;
  }

  .followers-text{
    font-size: 24px;
    width: 70px;
    position: absolute;
    margin-top: 65px;
    right: 40px;
  }

  .followings-text{
    font-size: 24px;
    width: 70px;
    position: absolute;
    margin-top: 65px;
    right: -60px;
  }

  .followers-num{
    font-size: 24px;
    width: 70px;
    position: absolute;
    margin-top: 95px;
    right: 25px;
  }

  .followings-num{
    font-size: 24px;
    width: 70px;
    position: absolute;
    margin-top: 95px;
    right: -75px;
  }


    /* 버튼 스타일 지정 */
  .edit-button {
    width: 150px;
    background-color: #F9DF98;
    border: none;
    color: brown;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Ownglyph RDO ballpen'; 
    position: absolute;
    margin-top: 140px;
    left: 40px;
  }

  .intro-rectangle-box {
    width: 300px; 
    height: 120px; 
    background-color: #BC9982; 
    color: #F1EEDF; 
    font-size: 20px;
    text-align: center; 
    line-height: 30px; 
    position: absolute;
    margin-top: 200px;
    left: -70px;
    z-index: 1;
  }

  .stamp-button {
    background-color: #F9DF98;
    border: none;
    color: brown;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    width: 250px;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Ownglyph RDO ballpen'; 
    position: absolute;
    margin-top: 330px;
    right: -40px;
  }

  .follow-what {
    color: black; 
    text-decoration: none;
  }

  .list-container {
    margin-top: 400px; 
}

.list-container a {
    text-decoration: none;
    color: #9E7959;
    font-size: 26px;
    display: block;
    line-height: 1.5;
    padding-bottom: 20px; 
}

.list-container a:hover {
  text-decoration: underline; 
}