
 /* hotcake 아이콘 스타일 */
  .hotcake-icon {
    width: 30px;
    margin-top: -333px;
    position: absolute;
    right: 160px;
    z-index: 1;
  }
  
  /* hotcake 텍스트 스타일 */
  .hotcake-text {
    font-size: 24px;
    width: 80px;
    margin-top: -333px;
    position: absolute;
    right: 70px; 
    z-index: 1;
  }

.dotted-rectangle {
    width: 100px; 
    height: 100px;
    border: 7px dashed #9E7959; 
    position: relative; 
    margin: 50px auto; 
    top: -30%;
}

.edit-nickname {
    position: absolute;
    top: 30%;
}

.edit-nickname p {
    font-size: 24px; 
    margin-bottom: 10px; 
    color : #9E7959;
    font-weight: bold;

}

.edit-rectangle {
    width: 250px; 
    height: 40px; 
    border: 2px solid #9E7959; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

.button-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.upload-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #333;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.upload-button:hover {
    background-color: #f0f0f0;
}

.intro {
    position: relative;
    text-align: center;
    margin-top: 70px;
}

.intro p {
    font-size: 24px;
    font-weight: bold;
}

.intro-rectangle {
    width: 250px;
    height: 200px;
    border: 2px solid #9E7959;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

.edit-success-button{
    width: 200px;
    background-color: #F9DF98;
    border: none;
    color: brown;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Ownglyph RDO ballpen'; 
    position: absolute;
    top: 260px;
    transform: translateX(-50%);
  }