.profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 2px solid #9E7959;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.image-control {
  text-align: center;
  margin-bottom: 1rem;
}

.image-control .image-upload-btn {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.image-control .image-upload-btn+input {
  display: none;
}

.image-control .image-upload-btn {
  padding: 0.5rem 1rem;
}

.image-control .image-delete-btn {
  background-color: var(--red, #d7433a);
  color: whitesmoke;
}

.edit-text {
  max-width: 400px;
  margin: 0 auto;
}

.edit-nickname {
  margin-bottom: 1rem;
}

.edit-nickname label {
  display: block;
  margin-bottom: 0.5rem;
  color: #9E7959;
  font-weight: bold;
}

.edit-nickname input {
  max-width: 400px;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: 2px solid #9E7959;
  border-radius: 0.5rem;
  background-color: transparent;
}

.edit-nickname input:focus-visible {
  outline: none;
  background-color: white;
}

.edit-intro {
  margin-bottom: 1rem;
  overflow: hidden;
}

.edit-intro label {
  display: block;
  margin-bottom: 0.5rem;
  color: #9E7959;
  font-weight: bold;
}

.edit-intro textarea {
  max-width: 400px;
  width: 100%;
  height: 12.5rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid #9E7959;
  border-radius: 0.5rem;
  background-color: transparent;
  resize: none;
}

.edit-intro textarea:focus-visible {
  outline: none;
  background-color: white;
}

.edit-success-btn {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1rem;
}