.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 15px;
}

.search-form {
  background-color: white;
  display: flex;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search-form input {
  border: 0;
  resize: none;
  flex-grow: 1;
}

.search-form button {
  background-color: var(--almond, #BC9982);
  border: 0;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.follow-user,
.search-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.follow-user>div,
.search-user>div {
  min-width: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.follow-user-image,
.search-user-image {
  width: 3rem;
  min-width: 50px;
  height: 3rem;
  border-radius: 50%;
  background: white url('../assets/images/hotcake.png') no-repeat center center / cover;
}

.follow-user-name,
.search-user-name {
  white-space: nowrap;
  /* 텍스트가 한 줄로만 표시되도록 설정 */
  overflow: hidden;
  /* 내용이 넘칠 때 잘린 부분을 숨김 */
  text-overflow: ellipsis;
  /* 텍스트가 잘리면 생략 부호(...)로 표시 */
}

.follow-buttons {
  flex: 0 0 auto;
  gap: 0.5rem;
}

