.trend {
  position: relative;
  width: 100%;
  height: calc(100% * 20%);
  max-height: 400px;
}

.trend img {
  display: block;
  width: 100%;
  height: calc(100% * 20%);
  max-height: 400px;
}

.dim {
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dim strong {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.dim strong:hover {
  text-decoration: underline;
}

.trendy-friends {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

.trend-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

}

.trend-post>.trend-user {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.trend-user strong {
  font-size: 1.5rem;
}

.trend-photos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 0.5rem;
}

.trend-photos img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* 슬라이드 바 */
.outer {
  position: relative;
  width: 100%;
  height: calc(100% * 20%);
  max-height: 400px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.inner-list {
  display: flex;
  transition: .3s ease-out;
  height: 100%;
}

.inner {
  border: 6px solid olive;
  padding: 0 16px;
}

.button-list {
  text-align: center;
}