h1 {
  text-align: center;
}

.trend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image-row {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.trend-image {
  width: 120px;
  height: 180px;
  background-size: cover;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}


.wintertravel1 {
    background-image: url('../assets/images/wintertravel1.png');
}
  
.wintertravel2 {
    background-image: url('../assets/images/wintertravel2.png');
}
  
.wintertravel3 {
    background-image: url('../assets/images/wintertravel3.png');
}
  
.skiing1 {
    background-image: url('../assets/images/skiing1.png');
}
  
.skiing2 {
    background-image: url('../assets/images/skiing2.png');
}
  
.skiing3 {
    background-image: url('../assets/images/skiing3.png');
}
  
.snack1 {
    background-image: url('../assets/images/snack1.png');
}
  
.snack2 {
    background-image: url('../assets/images/snack2.png');
}
  
.snack3 {
    background-image: url('../assets/images/snack3.png');
}
  