.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.welcome img {
  width: 40%;
}

.welcome h1{
  font-size: 3rem;
}

.kakao-login-btn {
  border: none;
  background-color: none;
  width: 80%;
  max-width: 600px;
}

.kakao-login-btn img {
  cursor: pointer;
}
