/* 스탬프 텍스트 스타일 */
.stamp-text {
  font-size: 24px;
  width: 70px;
}

.my-stamp-text {
  font-size: 30px;
  width: 120px;
}

.hotcake-stamp-icon {
  width: 40px;
  height: 40px;
}

.masking-tape {
  height: 180px;
  position: absolute;
  left: 32%;
  top: 10%;
  z-index: 1;
}

/* 스탬프 배경 */
.rectangle-box-container {
  width: 320px;
  height: 430px;
  background-color: white;
  color: brown;
  text-align: center;
  line-height: 30px;
  border: 3px solid #BC9982;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


.stamp-circle {
  width: 55px;
  height: 55px;
  background-color: var(--coffee-brown, #D9D9D9);
  ;
  border-radius: 50%;
}

.stamp-share-button {
  width: 200px;
  background-color: var(--coffee-brown, #F9DF98);
  ;
  border: none;
  color: brown;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 35px;
}

.share-icon {
  width: 20px;
  height: 20px;
}

/* ---- */
/* .mission-stamp-container {
    position: absolute;
    cursor: pointer;
}

.mission-stamp {
    width: 100px;
    height: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
} */